<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
  <title>Create</title>
</head>
<body>
<h3>Add new city</h3>
<p>
  <a th:href="@{/cities}">
    Back to city list
  </a>
</p>
<div id="form">
  <form th:action="@{/cities/create}" th:object="${city}" method="POST">
    <input type="hidden" th:field="*{id}"/>
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" th:field="*{name}"/>
    </div>
    <div>
      <label for="country">Country</label>
      <select id="country" th:field="*{country}">
        <option th:each="t : ${country}" th:value="${t.id}" th:text="${t.name}"></option>
      </select>
    </div>
    <div>
      <label for="area">Area</label>
      <input type="number" id="area" th:field="*{area}" oninput="checkArea()"/>
      <p id="error_area"></p>
    </div>
    <div>
      <label for="population">Population</label>
      <input type="number" id="population" th:field="*{population}" oninput="checkPopulation()"/>
      <p id="error_population"></p>
    </div>
    <div>
      <label for="gdp">GDP</label>
      <input type="number" id="gdp" th:field="*{gdp}" oninput="checkGdp()"/>
      <p id="error_gdp"></p>
    </div>
    <div>
      <label for="description">Description</label>
      <input type="text" id="description" th:field="*{description}"/>
    </div>
    <input type="submit" value="Save"/>
  </form>
</div>
<footer th:replace="/layout :: footer"></footer>

<script>
  function checkArea(){
    let area = document.getElementById("area").value;
    if (area<=0){
      document.getElementById("error_area").innerText = "Wrong input. Number must be > 0";
    } else {
      document.getElementById("error_area").innerText = "";
    }
  }
  function checkPopulation(){
    let population = document.getElementById("population").value;
    if (population<=0){
      document.getElementById("error_population").innerText = "Wrong input. Number must be > 0";
    } else {
      document.getElementById("error_population").innerText = "";
    }
  }
  function checkGdp(){
    let gdp = document.getElementById("gdp").value;
    if (gdp<=0){
      document.getElementById("error_gdp").innerText = "Wrong input. Number must be > 0";
    } else {
      document.getElementById("error_gdp").innerText = "";
    }
  }
</script>
</body>
</html>