<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>Update</title>
</head>
<body>
<h3>City Detail</h3>
<p>
    <a th:href="@{/cities}">
        Back to city list
    </a>
</p>
<div id="form">

        <table th:object="${city}">
            <tr>
                <td>Name:</td>
                <td><input th:field="*{name}"></td>
            </tr>
            <tr>
                <td>Country:</td>
                <td><input th:field="*{country.name}"></td>
            </tr>
            <tr>
                <td>Area:</td>
                <td><input th:field="*{area}"></td>
            </tr>
            <tr>
                <td>Population:</td>
                <td><input th:field="*{population}"></td>
            </tr>
            <tr>
                <td>GDP:</td>
                <td><input th:field="*{gdp}"></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><input th:field="*{description}"></td>
            </tr>
            <tr>
                <td>
                    <button name="delete_button"><a th:href="@{/cities/delete/{id}(id=${city.getId()})}">Delete</a></button>
                </td>
            </tr>
            <tr>
                <td>
                    <button><a th:href="@{/cities/update/{id}(id=${city.getId()})}">Update</a></button>
                </td>
            </tr>
        </table>

</div>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>